body {
    background-color: #696969;
    color: #d3d3d3;
    font-family: Helvetica;
    text-align: center;
}

a {
    text-decoration: none;
}

.navigation {
    background-color: #696969;
    font-family: Helvetica;
}


.navigation:after {
    content: '';
    clear: both;
    display: block;
}

.navigation ul {
    margin: 0;
    list-style: none;

}

.navigation > ul > li {
    float: left;
    position: relative;

}

.navigation ul li a {
    text-decoration: none;
    color: #d3d3d3;
    padding: 10px 15px;
    display: block;

}

#portfolio img {
    max-width: 300px;
    max-height: 300px;
    padding: 4px;

}

#portfolio {
    max-width: 950px;
    min-width: 900px;
    margin: auto;


}


/*#portfolio{
    margin: auto;
    width: 40%;
    padding: 5px;
}*/

