.so {
    padding: 5px;
    font-size: 5px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.social-bar img{
    float: right;
    max-width: 25px;
    max-height: 25px;
    padding: 3px;
}

.active {
    background-color: #04AA6D; /* Add an active/current color */
}
body {
    background-color: #1f2023;
    color: #d3d3d3;
    font-family: Helvetica;
    text-align: center;
}
a {
    text-decoration: none;
}
/*Navigation bar*/
.navigation {
    display: inline-block;
    background-color: #1f2023;
    font-family: Helvetica;
    font-size: larger;
}
.navigation:after {
    content: '';
    clear: both;
    display: block;
}
.navigation ul {
    margin: 0;
    list-style: none;
}
.navigation > ul > li {
    float: left;
    position: relative;
}
.navigation ul li a {
    text-decoration: none;
    color: #d3d3d3;
    padding: 15px 40px;
    display: block;
}
.navigation ul li:hover a{
    background: #44aaee;
}
.navigation ul ul{
    position: absolute;
    padding: 0;
    min-width: 100px;
    display: none;
    top: 100%;
    left: 0;
}
.navigation ul li:hover>ul{
    display: block;
}
.navigation ul ul li:hover a{
    background: #999999;
}
/*Images*/
#portfolio img {
    max-width: 300px;
    max-height: 300px;
    padding: 4px;
}
#portfolio {
    max-width: 1300px;
    min-width: 900px;
    margin: auto;
}
#portfolio{
    margin: auto;
    width: 50%;
    padding: 5px;
}
/*Twitch*/
.hide {
    display:none;
}
#twitch {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
#twitch object, #twitch iframe {
    position: center;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}

